<!-- 
    Los Pipes
Utilizamos está herramienta cuando queremos transformar nuestros datos en el momento de mostrarlo dentro de nuestra plantilla.

Ejemplo: Un número décimal se puede reducir los decimales a la hora de trabajar en la plantilla.

Vienen Pipes de Angular aunque se pueden personalizar.
-->

<!--
     CurrencyPipe 
    -->

<h1>Este es el componente principal</h1>
<h2>Este es el Pipe de Currency:</h2>
<p>Precio: {{ precio }}</p>
<p>Precio: {{ precio | currency }}</p>
<p>Precio: {{precio | currency: 'EUR'}}</p>
<p>Precio: {{precio | currency: 'EUR': 'symbol': '1.1-1'}}</p>
<br>

<!-- DecimalPipe -->
<h2>Este es el Pipe de DecimalPipe</h2>
<p>Número: {{ numero }}</p>
<p>Número: {{ numero | number: '1.2-4' }}</p>
<br>

<!-- DatePipe -->
<h2>Este es el Pipe de DatePipe</h2>
<p>Fecha: {{ fechaActual }}</p>
<p>Fecha: {{ fechaActual | date }}</p>
<!-- Fecha dd/MM/YY hh:mm | 21/10/22, 12:58 -->
<p>Fecha: {{ fechaActual | date: 'short' }}</p>
<!-- Fecha | 8 21 de octubre de 2022, 12:58:19 GMT+2 -->
<p>Fecha: {{ fechaActual | date: 'long' }}</p>
<!-- Fecha solo la hora -->
<p>Fecha: {{ fechaActual | date: 'shortTime' }}</p>
<!-- Fecha CUSTOMIZADA 21-10-2022 -->
<p>Fecha: {{ fechaActual | date: 'dd-MM-yyyy' }}</p>
<!-- Fecha CUSTOMIZADA 21-octubre-2022 -->
<p>Fecha: {{ fechaActual | date: 'dd-LLLL-yyyy' }}</p>
<!-- Hora CUSTOMIZADA  -->
<p>Fecha: {{ fechaActual | date: 'HH:mm:ss' }}</p>
<br>

<!-- PercentPipe -->
<h2>Este es el Pipe de PercentPipe</h2>
<p>Núm Aleatorio: {{ numAleatorio }}</p>
<p>Núm Aleatorio: {{ numAleatorio | percent }}</p>
<p>Núm Aleatorio: {{ numAleatorio | percent: '2.1-2' }}</p>

<br>

<!-- JSONPipe -->
<h2>Este es el Pipe de JSONPipe</h2>
<p>Estudiante: {{ estudiante }}</p>
<!-- Arriba si sólo mostramos el objeto de estudiante sale un objectObject -->
<p>Estudiante: {{ estudiante | json }}</p>
<br>

<!-- LowerCase | UpperCase | TitleCase -->
<h2>Este es el Pipe de LowerCase | UpperCase | TitleCase</h2>
<p>Texto: {{ texto }}</p>
<p>Texto en minusculas</p>
<p>Texto: {{ texto | lowercase }}</p>
<p>Texto en Mayúsculas</p>
<p>Texto: {{ texto | uppercase }}</p>
<p>Texto en Capital Case: Primera letra de cada palabra en Mayúsculas</p>
<p>Texto: {{ texto | titlecase }}</p>
<br>

<!-- SlicePipe -->
<h2>Este es el Pipe de SlicePipe</h2>
<ul>
    <li *ngFor="let animal of animales"> {{ animal }}</li>
</ul>
<br>

<ul>
    <p class="subtitulo">Sólo sé me va ha mostrar los animales 0 de la lista - 'Perro' - , & el 2 que es el - 'Pájaro'
        -. </p>
    <li *ngFor="let animal of animales | slice:0:2"> {{ animal }}</li>
</ul>
<br>

<ul>
    <p class="subtitulo">Interactuando con el inpun range + el Array de Animales. </p>
    <li *ngFor="let animal of animales | slice:minimo:maximo"> {{ animal }}</li>
</ul>
<br>
<input type="range" min="0" [max]="animales.length" strep="1" [(ngModel)]="minimo"> {{minimo}}
<input type="range" min="0" [max]="animales.length" strep="1" [(ngModel)]="maximo"> {{maximo}}

<br>

<ul>
    <p class="subtitulo">Interactuando con el inpun range + el Array de Animales, pero la diferencia es que puedo
        trabajar con las letras
        del string que quiero que aparezcaan. </p>
    <li *ngFor="let animal of animales | slice:minimo:maximo"> {{ animal | slice: 1:3 }}</li>
</ul>
<br>
<input type="range" min="0" [max]="animales.length" strep="1" [(ngModel)]="minimo"> {{minimo}}
<input type="range" min="0" [max]="animales.length" strep="1" [(ngModel)]="maximo"> {{maximo}}


<!-- Esto es de Ricky Morty -->
<!-- <div *ngIf="character">
    <h3>{{ character.name }}</h3>
    <img src="{{character.image}}" alt="">
</div>

<div *ngIf="characterO$ | async as ch">
    <h3>{{ character.name }}</h3>
    <img src="{{character.image}}" alt="">
</div> -->

<!-- {{promPost | async}} -->
<!-- <ul>
    <li *ngFor="let post of promPost | async">
        {{post.title}}
    </li>
</ul> -->